* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gruppo, sans-serif;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(149deg, #246655, #4b8777, #67988b);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 16s ease infinite;
    -moz-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;
    overflow: hidden;
}

a {
    color: wheat;
    text-decoration: none;
}

a:visited {
    color: wheat;
}

.header {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: wheat;
    animation: LeftSwipe 1s ease;
}

.desc {
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #c0b9a8;
    animation: RightSwipe 1s ease;
}

.gh-link {
    margin-top: 20px;
    border: none;
    width: 40px;
    overflow: hidden;
    transition: .5s;
    z-index: 999;
    animation: BottomSwipe 1s ease;
}

.ip-status {
    color: wheat;
    font-size: 15px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 5px;
    top: 5px
}

.footer {
    display: flex;
    color: wheat;
    position: absolute;
    font-size: 12px;
    bottom: 0;
    height: 20px;
}

.gh-link:hover {
    transform: scale(105%);
}

.gh-link:active {
    transform: scale(95%);
}

@-webkit-keyframes LeftSwipe {
    0% {
        transform: translate(-2000px);
    }

    100% {
        transform: translate(0);
    }
}

@-webkit-keyframes RightSwipe {
    0% {
        transform: translate(2000px);
    }

    100% {
        transform: translate(0);
    }
}

@-webkit-keyframes BottomSwipe {
    0% {
        transform: translateY(2000px);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 22%
    }
    50% {
        background-position: 100% 79%
    }
    100% {
        background-position: 0% 22%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 22%
    }
    50% {
        background-position: 100% 79%
    }
    100% {
        background-position: 0% 22%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 22%
    }
    50% {
        background-position: 100% 79%
    }
    100% {
        background-position: 0% 22%
    }
}

@media only screen and (max-width: 500px) {
    .ip-status {
        font-size: 10px;
    }

    .header {
        font-size: 22px;
    }

    .desc {
        font-size: 18px;
    }

    .footer {
        font-size: 12px;
    }
}